<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block meta %}
    <title>Atelier - {{ name }}</title>
{% endblock meta %}
{% block content %}

    <main>
        <section class="navsec" id="atelier">
            <div class="container">
                <p class="section-kicker">My previous works</p>
                <h1>Atelier</h1>

                <div class="art-gallery">
                    <a href="/static/img/art1.png" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                        <div class="art-item">
                            <img src="/static/img/art1.png" alt="Concept art to test metalworks and machinery.">
                            <div class="art-overlay"><span>View now!</span></div>
                        </div>
                    </a>
                    <a href="https://marlioboro.itch.io/wait-new-rules" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                        <div class="art-item">
                            <img src="/static/img/art5.png" alt="Wait, New Rule!">
                        
                            <div class="art-overlay">
                                <span>Play now on itch.io!</span>
                            </div>
                        </div>
                    </a>
                    <a href="https://goodbonesgaming.itch.io/msff-comp" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                        <div class="art-item">
                            <img src="/static/img/art6.png" alt="MSFF-Compilation">
                        
                            <div class="art-overlay">
                                <span>Play now on itch.io!</span>
                            </div>
                        </div>
                    </a>
                    <a href="https://goodbonesgaming.itch.io/destructon" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                        <div class="art-item">
                            <img src="/static/img/art4.png" alt="Destructon">
                        
                            <div class="art-overlay">
                                <span>Play now on itch.io!</span>
                            </div>
                        </div>
                    </a>
                    <a href="https://marlioboro.itch.io/remora" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                        <div class="art-item">
                            <img src="/static/img/art3.png" alt="Remora">
                        
                            <div class="art-overlay">
                                <span>Play now on itch.io!</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
</html>